﻿<table class="table table-striped">
    <thead>
    <tr>
        <th>{{::vm.translate.get('Từ khoá')}}</th>
        <th>{{::vm.translate.get('Tổng')}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="keyword in vm.keywords">
        <td>{{keyword.keyword}}</td>
        <td>{{keyword.count}}</td>
    </tr>
    </tbody>
    </table>
