﻿<table class="table table-striped">
    <thead>
    <tr>
        <th>{{::vm.translate.get('Sản phẩm')}}</th>
        <th>{{::vm.translate.get('Tổng')}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="product in vm.products">
        <td><a href="/{{product.slug}}">{{product.name}}</a></td>
        <td>{{product.viewedCount}}</td>
    </tr>
    </tbody>
    </table>
