﻿@{
    Layout = "_Layout";
}

<h1 class="text-danger">@Localizer["Chúng tôi xin lỗi!"]</h1>
<h2 class="text-danger">@Localizer["Không thể tìm thấy trang bạn đã yêu cầu"]</h2>
<p>@Localizer["Có thể trang đã bị di chuyển hoặc bị xóa, hoặc có thể bạn vừa nhập sai địa chỉ."]</p>
<p>@Localizer["Tại sao không thử và tìm cách của bạn bằng cách sử dụng thanh điều hướng ở trên hoặc nhấp vào biểu tượng để trở về trang chủ của chúng tôi."]</p>