﻿<div class="card">
    <div class="card-header">@Localizer["Tài khoản của bạn"]</div>
    <div class="card-body">
        <ul class="list-unstyled">
            <li><a href="~/user">@Localizer["Trang tổng quan tài khoản"]</a></li>
            <li><a href="~/user/info">@Localizer["Thông tin tài khoản"]</a></li>
            <li><a href="~/user/settings">@Localizer["Cài đặt của tôi"]</a></li>
            <li><a href="~/user/address">@Localizer["Địa chỉ"]</a></li>
            <li><a href="~/user/orders">@Localizer["Lịch sử đặt hàng"]</a></li>
            <li><a href="~/user/wishlist">@Localizer["Danh sách mong muốn"]</a></li>
        </ul>
    </div>
</div>
