﻿<div class="page-header">
    <div class="row">
        <div class="col-md-8">
            <h2>{{::vm.translate.get('Nhóm thuộc tính sản phẩm')}}</h2>
        </div>
        <div class="col-md-4 text-right">
            <a ui-sref="product-attribute-group-create" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {{::vm.translate.get('Tạo nhóm thuộc tính sản phẩm')}}</a>
        </div>
    </div>
</div>

<table class="table table-condensed table-striped">
    <thead>
    <tr>
        <th>{{::vm.translate.get('Tên')}}</th>
        <th>{{::vm.translate.get('Hành động')}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="attributeGroup in vm.productAttributeGroups">
        <td>{{attributeGroup.name}}</td>
        <td>
            <a ui-sref="product-attribute-group-edit({id: attributeGroup.id})" title="Edit" class="btn btn-primary btn-xs"> <span class="glyphicon glyphicon-pencil"></span></a>
            <button ng-click="vm.deleteProductOption(attributeGroup)" class="btn btn-danger btn-xs delete"> <span class="glyphicon glyphicon-remove"></span></button>
        </td>
    </tr>
    </tbody>
</table>