﻿<div class="page-header">
    <div class="row">
        <div class="col-md-8">
            <h2>{{::vm.translate.get('Nhãn hiệu')}}</h2>
        </div>
        <div class="col-md-4 text-right">
            <a ui-sref="brand-create" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {{::vm.translate.get('Tạo nhãn hiệu')}}</a>
        </div>
    </div>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>{{::vm.translate.get('Tên')}}</th>
        <th class="text-center">{{::vm.translate.get('Được công bố')}}</th>
        <th>{{::vm.translate.get('Hành động')}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="brand in vm.brands">
        <td>{{brand.name}}</td>
        <td class="text-center"><i ng-attr-class="{{brand.isPublished && 'fa fa-circle' || 'fa fa-circle-o'}}"></i></td>
        <td>
            <a ui-sref="brand-edit({id: brand.id})" title="Edit" class="btn btn-primary btn-xs"> <span class="glyphicon glyphicon-pencil"></span></a>
            <button ng-click="vm.deleteBrand(brand)" class="btn btn-danger btn-xs delete"> <span class="glyphicon glyphicon-remove"></span></button>
        </td>
    </tr>
    </tbody>
</table>