﻿<div class="panel panel-default">
    <div class="panel-heading">
        <h2 ng-if="!vm.isEditMode">{{::vm.translate.get('Tạo thương hiệu')}}</h2>
        <h2 ng-if="vm.isEditMode">{{::vm.translate.get('Sửa thương hiệu')}}</h2>
    </div>
    <div class="panel-body">
        <form name="brandForm" class="form-horizontal">
            <div class="col-sm-offset-2 bg-danger" ng-show="vm.validationErrors">
                <ul>
                    <li ng-repeat="error in vm.validationErrors">{{error}}</li>
                </ul>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{::vm.translate.get('Tên')}}</label>
                <div class="col-sm-10">
                    <input name="name" ng-model="vm.brand.name" ng-change="vm.updateSlug()" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{::vm.translate.get('Thể loại')}}</label>
                <div class="col-sm-10">
                    <input name="slug" ng-model="vm.brand.slug" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="vm.brand.isPublished">{{::vm.translate.get('Được công bố')}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary" ng-click="vm.save()"><span class="glyphicon glyphicon-ok"></span> {{::vm.translate.get('Lưu')}}</button>
                    <button ui-sref="brand" class="btn btn-default">{{::vm.translate.get('Huỷ')}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
