﻿<div class="page-header">
    <div class="row">
        <div class="col-md-6">
            <h2>{{::vm.translate.get('Thêm lô hàng cho đơn hàng')}} #{{vm.orderId}}</h2>
        </div>
        <div class="col-md-6 text-right">
            <form class="form-inline">
                <div class="form-group">
                    <label>{{::vm.translate.get('Số theo dõi')}}</label>
                    <input class="form-control" ng-model="vm.shipmentForm.trackingNumber" />
                </div>
                <div class="form-group">
                    <label>{{::vm.translate.get('Kho')}}</label>
                    <select class="form-control" ng-model="vm.selectedWarehouseId"
                            ng-options="warehouse.id as warehouse.name for warehouse in vm.warehouses"></select>
                </div>
            </form>
        </div>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>{{::vm.translate.get('Tên sản phẩm')}}</th>
            <th>{{::vm.translate.get('Đơn vị lưu sản phẩm')}}</th>
            <th>{{::vm.translate.get('Số lượng')}}</th>
            <th>{{::vm.translate.get('Số lượng giao hàng')}}</th>
            <th>{{::vm.translate.get('Số lượng có sẵn')}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in vm.shipmentForm.items">
            <td>{{item.productName}}</td>
            <td>{{item.productSku}}</td>
            <td>
                Đã đặt hàng {{item.orderedQuantity}}
                <span ng-if="item.shippedQuantity">
                    <br />Đã vận chuyển {{item.shippedQuantity}}
                </span>
            </td>
            <td>
                <input class="form-control" ng-model="item.quantityToShip" />
            </td>
            <td>{{item.availableQuantity}}</td>
        </tr>
    </tbody>
</table>
<div class="text-right">
    <button class="btn btn-primary" ng-click="vm.save()"><span class="glyphicon glyphicon-ok"></span> {{::vm.translate.get('Lưu')}}</button>
    <button  ui-sref="order-detail({id: vm.orderId})" class="btn btn-default">{{::vm.translate.get('Back')}}</button>
</div>
