﻿<table class="table table-striped">
    <thead>
        <tr>
            <th>{{::vm.translate.get('Mã hoá đơn')}}</th>
            <th>{{::vm.translate.get('Trạng thái mua hàng')}}</th>
            <th>{{::vm.translate.get('Khách hàng')}}</th>
            <th>{{::vm.translate.get('Ngày tạo')}}</th>
            <th class="text-right">{{::vm.translate.get('Tổng đặt hàng')}}</th>
            <th>{{::vm.translate.get('Hành động')}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="order in vm.orders">
            <td>{{order.id}}</td>
            <td>{{order.orderStatus}}</td>
            <td>{{order.customerName}}</td>
            <td>{{order.createdOn | date:'medium'}}</td>
            <td class="text-right">{{order.orderTotalString }}</td>
            <td><a ui-sref="order-detail({id: order.id})" title="View" class="btn btn-primary btn-xs"> <span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>
    </tbody>
</table>
