﻿<div class="page-header">
    <div class="row">
        <div class="col-md-8">
            <h2>{{::vm.translate.get('Mẫu sản phẩm')}}</h2>
        </div>
        <div class="col-md-4 text-right">
            <a ui-sref="product-template-create" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {{::vm.translate.get('Tạo mẫu sản phẩm')}}</a>
        </div>
    </div>
</div>

<table class="table table-condensed table-striped">
    <thead>
    <tr>
        <th>{{::vm.translate.get('Tên')}}</th>
        <th>{{::vm.translate.get('Hành động')}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="template in vm.productTemplates">
        <td>{{template.name}}</td>
        <td>
            <a ui-sref="product-template-edit({id: template.id})" title="Edit" class="btn btn-primary btn-xs"> <span class="glyphicon glyphicon-pencil"></span></a>
            <button ng-click="vm.deleteProductTemplate(template)" class="btn btn-danger btn-xs delete"> <span class="glyphicon glyphicon-remove"></span></button>
        </td>
    </tr>
    </tbody>
</table>