﻿@model SimplCommerce.Module.ShoppingCart.Areas.ShoppingCart.ViewModels.AddToCartResult

<div class="modal-header">
    <h11 class="modal-title" id="myModalLabel">@Localizer["Sản phẩm đã được thêm vào giỏ hàng của bạn"]</h11>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-3">
            <img alt="@Model.ProductName" class="img-fluid" src="@Model.ProductImage">
        </div>
        <div class="col-md-6">
            <h4>@Model.ProductName</h4>
            <h6>@Model.VariationName</h6>
        </div>
        <div class="col-md-3">
            @Model.Quantity x @Model.ProductPriceString
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            @Localizer["Bạn có"] <span class="cart-item-count">@Model.CartItemCount</span> @Localizer["sản phẩm trong giỏ hàng của bạn"]
        </div>
        <div class="col-md-11">
            @Localizer["Tổng phụ của giỏ hàng"]: @Model.CartAmountString
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light" data-dismiss="modal">@Localizer["Tiếp tục mua hàng"]</button>
    <a href="~/cart" role="button" class="btn btn-light">@Localizer["Giỏ hàng"]</a>
</div>
