﻿@{
    ViewData["Title"] = Localizer["Shopping Cart"];
}

<div class="row cart-list" ng-app="simpl.shoppingCart" ng-controller="shoppingCartListCtrl as vm" ng-cloak>
    <div class="col-md-8">
        <table class="table table-striped cart-items">
            <thead>
                <tr>
                    <th colspan="2">@Localizer["Sản phẩm"]</th>
                    <th class="text-right">@Localizer["Giá tiền"]</th>
                    <th class="text-center">@Localizer["Số lượng"]</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="vm.cart.items.length" ng-repeat="cartItem in vm.cart.items">
                    <td class="product-image"><img ng-src="{{cartItem.productImage}}" /></td>
                    <td>
                        <h6>{{cartItem.productName}}</h6>
                        <ul class="list-unstyled">
                            <li ng-repeat="opt in cartItem.variationOptions">
                                <span>{{opt.optionName}}:</span> {{opt.value}}
                            </li>
                        </ul>
                        <span ng-if="!cartItem.isProductAvailabeToOrder" class="badge badge-pill badge-danger">@Localizer["Not availabe any more"]</span>
                        <span ng-if="cartItem.productStockTrackingIsEnabled && cartItem.productStockQuantity < cartItem.quantity" class="badge badge-pill badge-danger">@Localizer["Không đủ hàng.Có sẵn: "] {{cartItem.productStockQuantity}}</span>
                    </td>
                    <td class="text-right">{{cartItem.productPriceString}}</td>
                    <td class="text-center">
                        <button type="button" class="quantity-button" ng-click="vm.decreaseQuantity(cartItem)" name="subtract" value="-">-</button>
                        <input type="text" class="quantity-field" ng-model="cartItem.quantity" readonly="readonly" />
                        <button type="button" class="quantity-button" ng-click="vm.increaseQuantity(cartItem)" name="subtract" value="+">+</button>
                    </td>
                    <td class="text-right"><button class="btn btn-link" ng-click="vm.removeShoppingCartItem(cartItem)"><span class="fa fa-remove" aria-hidden="true"></span></button></td>
                </tr>
                <tr ng-if="!vm.cart.items.length">
                    <td colspan="5" class="text-center">
                        @Localizer["Không có mặt hàng trong giỏ hàng này."] <a href="~/">@Localizer["Tiếp tục mua"]</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="order-note-form">
            <h4>@Localizer["Ghi chú đơn hàng"]</h4>
            <form>
                <div class="form-group">
                    <textarea rows="3" class="form-control" name="orderNote" ng-model="vm.cart.orderNote" placeholder="@Localizer["Nhập ghi chú đơn hàng"]"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default pull-right" ng-click="vm.saveOrderNote()">@Localizer["Lưu ghi chú đơn hàng"]</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-4">
        <div class="order-summary" ng-if="vm.cart.items.length">
            <h4>@Localizer["Tóm tắt theo thứ tự"]</h4>
            <table class="table">
                <tr>
                    <td>@Localizer["Thành tiền"]</td>
                    <td>{{vm.cart.subTotalString}}</td>
                </tr>
                <tr>
                    <td>@Localizer["Giảm giá"] {{vm.cart.couponCode}}</td>
                    <td>{{vm.cart.discountString}}</td>
                </tr>
                <tr>
                    <td>@Localizer["Tổng tiền"]</td>
                    <td><strong>{{vm.cart.orderTotalString}}</strong></td>
                </tr>
            </table>
            <p class="text-right"><a href="~/checkout/shipping" ng-class="{disabled: !vm.cart.isValid}" class="btn btn-primary">@Localizer["Quy trình thanh toán"]</a></p>
            <p ng-if="vm.cart.lockedOnCheckout"><button type="button" ng-click="vm.unlock()" class="btn btn-secondary active">@Localizer["Mở khóa giỏ hàng"]</button></p>
        </div>
        <div class="coupon-form" ng-if="vm.cart.items.length">
            <h4>@Localizer["Mã giảm giá"]</h4>
            <form class="form-inline">
                <div class="form-group">
                    <label>{{vm.cart.couponValidationErrorMessage}}</label>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="couponCode" ng-model="vm.couponCode" placeholder="@Localizer["Nhập mã giảm giá"]">
                    <button type="submit" class="btn btn-default" ng-click="vm.applyCoupon()">@Localizer["Đồng ý"]</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section head{
    <script simpl-append-version="true" src="~/_content/SimplCommerce.Module.ShoppingCart/shoppingcart-list.js"></script>
    <script simpl-append-version="true" src="~/_content/SimplCommerce.Module.ShoppingCart/shoppingcart-service.js"></script>
}
