﻿<div class="panel panel-default">
    <div class="panel-heading">
        <h2>{{::vm.translate.get('Clone Product')}}</h2>
    </div>
    <div class="panel-body">
        <form name="cloneForm" class="form-horizontal">
            <div class="col-sm-offset-2 bg-danger" ng-show="vm.validationErrors">
                <ul>
                    <li ng-repeat="error in vm.validationErrors">{{error}}</li>
                </ul>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{::vm.translate.get('Tên sản phẩm')}}</label>
                <div class="col-sm-10">
                    <input name="name" ng-model="vm.productClone.name" ng-change="vm.updateSlug()" required class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{::vm.translate.get('Slug')}}</label>
                <div class="col-sm-10">
                    <input name="slug" ng-model="vm.productClone.slug" required class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary" ng-click="vm.save()"><span class="glyphicon glyphicon-ok"></span> {{::vm.translate.get('Lưu')}}</button>
                    <button ui-sref="product-edit({id: vm.productId})" class="btn btn-default">{{::vm.translate.get('Huỷ')}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
