﻿<div class="page-header">
    <div class="row">
        <div class="col-md-8">
            <h2>{{::vm.translate.get('Comments')}}</h2>
        </div>
        <div class="col-md-4 text-right">
        </div>
    </div>
</div>

<table class="table table-striped" st-pipe="vm.getComments" st-table="vm.comments">
    <thead>
        <tr>
            <th>{{::vm.translate.get('Khách hàng')}}</th>
            <th>{{::vm.translate.get('Tên thực thể')}}</th>
            <th>{{::vm.translate.get('Bình luận')}}</th>
            <th st-sort="CreatedOn" class="sortable">{{::vm.translate.get('Ngày tạo')}}</th>
            <th>{{::vm.translate.get('Bình luận')}}</th>
            <th>{{::vm.translate.get('Status')}}</th>
            <th>{{::vm.translate.get('Hành động')}}</th>
        </tr>
        <tr>
            <th></th>
            <th><input class="form-control" st-search="EntityName" /></th>
            <th></th>
            <th></th>
            <th></th>
            <th><st-date-range predicate="CreatedOn" before="query.before" after="query.after"></st-date-range></th>
            <th></th>
            <th>
                <div class="form-group">
                    <select class="form-control" st-search="Status">
                        <option value="">{{::vm.translate.get('Tất cả')}}</option>
                        <option value="1">{{::vm.translate.get('Đang xử lý')}}</option>
                        <option value="5">{{::vm.translate.get('Tán thành')}}</option>
                        <option value="8">{{::vm.translate.get('Không tán thành')}}</option>
                    </select>
                </div>
            </th>
            <th></th>
        </tr>
        <tr>
            <th ng-show="!vm.isLoading" colspan="8">{{vm.tableStateRef.pagination.totalItemCount | number:0}} {{:: vm.translate.get ('dữ liệu được tìm thấy')}}</th>
        </tr>
    </thead>
    <tbody ng-show="!vm.isLoading">
        <tr ng-repeat="comment in vm.comments">
            <td>{{comment.commenterName}}</td>
            <td><a href="/{{comment.entitySlug}}">{{comment.entityName}}</a></td>
            <td>{{comment.commentText}}</td>
            <td>{{comment.createdOn | date:'medium'}}</td>
            <td>{{comment.type}}</td>
            <td>{{comment.status }}</td>
            <td><button ng-if="comment.status ==='Pending'" title="Approve" ng-click="vm.approve(comment)" class="btn btn-primary btn-xs">{{::vm.translate.get('Tán thành')}}</button></td>
        </tr>
    </tbody>
    <tbody ng-show="vm.isLoading">
        <tr>
            <td colspan="8" class="text-center">Đang tải ... </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="text-center" st-pagination="" st-items-by-page="50" st-displayed-pages="10" colspan="8"></td>
        </tr>
    </tfoot>
</table>	
