﻿@model SimplCommerce.Module.Core.Areas.Core.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Trang chủ";
}
<partial name="_WidgetInstances" model="Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeFeatured)" />

<div>
    <h2 class="page-header">Sample Theme</h2>
    <p>It's very easy to find and install new themes or create your own theme. </p>
    <p>Check out <a href="https://docs.simplcommerce.com/developer-guide/theme-development.html" target="_blank"> the doc here</a> for more details</p>
</div>

<partial name="_WidgetInstances" model="Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeMainContent)" />

<partial name="_WidgetInstances" model="Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeAfterMainContent)" />
