﻿@model IEnumerable<SimplCommerce.Module.Orders.Areas.Orders.ViewModels.OrderHistoryListItem>

@{
    ViewData["Title"] = Localizer["Lịch sử mua hàng"];
}

<div class="row">
    <div class="col-md-3">
        <partial name="_AccountMenu" />
    </div>
    <div class="col-md-9">
        <h2>@ViewData["Title"]</h2>
        <hr />
        <table class="table table-striped order-history">
            <tr>
                <th>@Localizer["Mã đơn hàng"]</th>
                <th>@Localizer["Ngày mua"]</th>
                <th>@Localizer["Các sản phẩm"]</th>
                <th>@Localizer["Tổng tiền"]</th>
                <th>@Localizer["Trạng thái"]</th>
            </tr>
            @foreach (var order in Model)
            {
                <tr>
                    <td><a href="~/user/orders/@order.Id">@order.Id</a></td>
                    <td>@order.CreatedOn.DateTime.ToShortDateString()</td>
                    <td>
                        @foreach (var item in order.OrderItems)
                        {
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="@item.ThumbnailImage" />
                                </div>
                                <div class="col-md-9">
                                     <p>@item.ProductName</p>
                                     <p>@Localizer["Số lượng"] @item.Quantity</p>
                                </div>
                            </div>
                        }
                    </td>
                    <td>@order.SubTotalString</td>
                    <td>@Localizer[order.OrderStatus.ToString()]</td>
                </tr>
            }
        </table>
    </div>
</div>
