﻿@model SimplCommerce.Module.ShoppingCart.Areas.ShoppingCart.ViewModels.CartVm

<h3>@Localizer["Tóm tắt theo thứ tự"] </h3>
<table class="table">
    <tr>
        <th>@Localizer["Sản phẩm"]</th>
        <th class="text-center">@Localizer["Số lượng"]</th>
        <th class="text-right">@Localizer["Giá bán"]</th>
    </tr>
    @foreach (var item in Model.Items)
    {
        <tr>
            <td>
                @item.ProductName
                @if (item.VariationOptions.Any())
                {
                    <ul class="list-unstyled">
                        @foreach (var attr in item.VariationOptions)
                        {
                            <li><span>@attr.OptionName:</span> @attr.Value</li>
                        }
                    </ul>
                }
            </td>
            <td class="text-center">@item.Quantity</td>
            <td class="text-right">@item.ProductPriceString</td>
        </tr>
    }
    <tr>
        <td>@Localizer["Ghi chú đơn hàng"]</td>
        <td colspan="2" class="text-right">@Model.OrderNote</td>
    </tr>
    <tr>
        <td>@Localizer["Thành tiền"]</td>
        <td colspan="2" class="text-right">@Model.SubTotalString<input type="hidden" id="orderSubtotal" value="@Model.SubTotal" /></td>
    </tr>
    <tr>
        <td>@Localizer["Giao hàng"]</td>
        <td colspan="2" id="orderSummaryShipping" class="text-right">@Model.ShippingAmountString</td>
    </tr>
    @if (!Model.IsProductPriceIncludeTax)
    {
        <tr>
            <td>@Localizer["Thuế"]</td>
            <td colspan="2" id="orderSummaryTax" class="text-right">@Model.TaxAmountString</td>
        </tr>
    }
    <tr>
        <td>@Localizer["Giảm giá"]</td>
        <td colspan="2" class="text-right">@Model.DiscountString</td>
    </tr>
    <tr>
        <td>
            <strong>@Localizer["Tổng tiền"]</strong>
            @if (Model.IsProductPriceIncludeTax)
            {
                <span> (@Localizer["Đã bao gồm VAT"])</span>
            }
        </td>
        <td colspan="2" class="text-right"><strong id="orderTotal">@Model.OrderTotalString</strong></td>
    </tr>
</table>
