﻿@model SimplCommerce.Module.Orders.Areas.Orders.ViewModels.DeliveryInformationVm

@{
    ViewBag.Title = "Thông tin đơn hàng";
}

<div class="row">
    <div class="col-md-8">
        <form asp-area="Orders" asp-controller="Checkout" asp-action="Shipping" method="POST" id="checkout-delivery-address">
            <h3>@Localizer["Địa chỉ giao hàng"]</h3>
            @foreach (var address in Model.ExistingShippingAddresses)
            {
                <div class="radio">
                    <label>
                        <input type="radio" name="ShippingAddressId" value="@address.UserAddressId" checked="@(Model.ShippingAddressId == address.UserAddressId ? "checked" : null)">
                        <strong>@address.ContactName </strong><br />
                        @address.AddressLine1 <br />
                        @address.AddressLine2 <br />
                        Số điện thoại: @address.Phone
                    </label>
                </div>
            }
            <div class="radio">
                <label>
                    <input type="radio" name="ShippingAddressId" checked="@(Model.ShippingAddressId == 0 ? "checked" : null)" value="0" />
                    @Localizer["Thêm địa chỉ khác"]
                </label>
            </div>
            <div class="create-shipping-address collapse">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">@Localizer["Họ tên"]</label>
                    <div class="col-sm-8">
                        <input asp-for="NewAddressForm.ContactName" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">@Localizer["Quốc gia"]</label>
                    <div class="col-sm-8">
                        <select asp-for="NewAddressForm.CountryId" asp-items="Model.NewAddressForm.ShipableContries" class="form-control">
                            <option value="">@Localizer["Chọn"]</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">@Localizer["Tỉnh thành"]</label>
                    <div class="col-sm-8">
                        <select asp-for="NewAddressForm.StateOrProvinceId" asp-items="Model.NewAddressForm.StateOrProvinces" class="form-control">
                            <option value="">@Localizer["Chọn"]</option>
                        </select>
                    </div>
                </div>

                <div id="form-group-district" class="form-group row">
                    <label class="col-sm-4 col-form-label">@Localizer["Quận huyện"]</label>
                    <div class="col-sm-8">
                        <select asp-for="NewAddressForm.DistrictId" asp-items="Model.NewAddressForm.Districts" class="form-control">
                            <option value=""></option>
                        </select>
                    </div>
                </div>

                <div id="form-group-city" class="form-group row">
                    <label class="col-sm-4 col-form-label">@Localizer["Thành phố"]</label>
                    <div class="col-sm-8">
                        <input asp-for="NewAddressForm.City" type="text" class="form-control">
                    </div>
                </div>

                <div id="form-group-postalcode" class="form-group row">
                    <label class="col-sm-4 col-form-label">@Localizer["Mã bưu điện"]</label>
                    <div class="col-sm-8">
                        <input asp-for="NewAddressForm.ZipCode" type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">@Localizer["Địa chỉ"]</label>
                    <div class="col-sm-8">
                        <input asp-for="NewAddressForm.AddressLine1" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">@Localizer["Số điện thoại"]</label>
                    <div class="col-sm-8">
                        <input asp-for="NewAddressForm.Phone" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <h3>@Localizer["Phương thức vận chuyển"]</h3>
            <div id="shippingMethods">
                <p>Vui lòng chọn địa chỉ vận chuyển của bạn</p>
            </div>

            <div>
                <h3>@Localizer["Địa chỉ hoá đơn"]</h3>
                <label>
                    <input type="checkbox" name="UseShippingAddressAsBillingAddress" checked="@(Model.UseShippingAddressAsBillingAddress ? "checked" : null)" value="true" />
                    @Localizer["Sử dụng địa chỉ giao hàng đã chọn làm địa chỉ thanh toán"]
                </label>
            </div>
            <div class="change-billing-address collapse">
                @foreach (var address in Model.ExistingShippingAddresses)
                {
                    <div class="radio">
                        <label>
                            <input type="radio" name="BillingAddressId" value="@address.UserAddressId" checked="@(Model.BillingAddressId == address.UserAddressId ? "checked" : null)">
                            <strong>@address.ContactName </strong><br />
                            @address.AddressLine1 <br />
                            @address.AddressLine2 <br />
                            Số điện thoại: @address.Phone
                        </label>
                    </div>
                }
                <div class="radio">
                    <label>
                        <input type="radio" name="BillingAddressId" checked="@(Model.BillingAddressId == 0 ? "checked" : null)" value="0" />
                        @Localizer["Thêm địa chỉ khác"]
                    </label>
                </div>
                <div class="create-billing-address collapse">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">@Localizer["Họ tên"]</label>
                        <div class="col-sm-8">
                            <input asp-for="NewBillingAddressForm.ContactName" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">@Localizer["Quốc gia"]</label>
                        <div class="col-sm-8">
                            <select asp-for="NewBillingAddressForm.CountryId" asp-items="Model.NewAddressForm.ShipableContries" class="form-control">
                                <option value="">@Localizer["Chọn"]</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">@Localizer["Tỉnh thành"]</label>
                        <div class="col-sm-8">
                            <select asp-for="NewBillingAddressForm.StateOrProvinceId" asp-items="Model.NewAddressForm.StateOrProvinces" class="form-control">
                                <option value="">@Localizer["Chọn"]</option>
                            </select>
                        </div>
                    </div>

                    <div id="form-group-district" class="form-group row">
                        <label class="col-sm-4 col-form-label">@Localizer["Quận huyện"]</label>
                        <div class="col-sm-8">
                            <select asp-for="NewBillingAddressForm.DistrictId" asp-items="Model.NewAddressForm.Districts" class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div id="form-group-city" class="form-group row">
                        <label class="col-sm-4 col-form-label">@Localizer["Thành phố"]</label>
                        <div class="col-sm-8">
                            <input asp-for="NewBillingAddressForm.City" type="text" class="form-control">
                        </div>
                    </div>

                    <div id="form-group-postalcode" class="form-group row">
                        <label class="col-sm-4 col-form-label">@Localizer["Mã bưu điện"]</label>
                        <div class="col-sm-8">
                            <input asp-for="NewBillingAddressForm.ZipCode" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">@Localizer["Địa chỉ"]</label>
                        <div class="col-sm-8">
                            <input asp-for="NewBillingAddressForm.AddressLine1" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">@Localizer["Số điện thoại"]</label>
                        <div class="col-sm-8">
                            <input asp-for="NewBillingAddressForm.Phone" type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="text-right">
                    <button type="submit" class="btn btn-order" enable>@Localizer["Thanh toán"]</button>
                </div>
            </div>
        </form>
        <div class="text-right">
            <form asp-area="Order" asp-controller="Checkout" asp-action="Cancel" method="post" id="logoutForm" class="">
                <button type="submit" class="btn btn-secondary active ">@Localizer["Huỷ đơn hàng"]</button>
            </form>
        </div>
    </div>
    <div class="col-md-4">
        @await Component.InvokeAsync("OrderSummary")
    </div>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script simpl-append-version="true" src="~/_content/SimplCommerce.Module.Orders/checkout.js"></script>
}
