﻿@model long

@{
    ViewBag.Title = "Result";
    var localizedTextParts = Localizer["Chúng tôi đã nhận được <a> đơn đặt hàng của bạn </a>. Cảm ơn bạn!"].GetTextPartsFunction("<a>", "</a>");
}

<h2>@Localizer["Hoàn thành!"]</h2>
<p>@localizedTextParts(0)<a href="~/user/orders/@Model">@localizedTextParts(1)</a>@localizedTextParts(2)</p>
