﻿<div class="panel panel-default">
    <div class="panel-heading">
        <h2>{{::vm.translate.get('Thanh toán khi nhận hàng')}}</h2>
    </div>
    <div class="panel-body">
        <form name="stripeConfigForm" class="form-horizontal">
            <div class="col-sm-offset-2 bg-danger" ng-show="vm.validationErrors">
                <ul>
                    <li ng-repeat="error in vm.validationErrors">{{error}}</li>
                </ul>
            </div>
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Giá thấp nhất </label>
                <div class="col-sm-10">
                    <input name="name" ng-model="vm.codConfig.minOrderValue" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Giá cao nhất</label>
                <div class="col-sm-10">
                    <input name="name" ng-model="vm.codConfig.maxOrderValue" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Phí thanh toán tính bằng%</label>
                <div class="col-sm-10">
                    <input name="name" ng-model="vm.codConfig.paymentFee" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary" ng-click="vm.save()"><span class="glyphicon glyphicon-ok"></span> Lưu</button>
                    <button ui-sref="payment-providers" class="btn btn-default">Huỷ</button>
                </div>
            </div>
        </form>
    </div>
</div>