﻿@{
    Layout = null;
}

<h1>@Localizer["Bảng điều khiển"]</h1>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@Localizer["Đơn đặt hàng mới nhất"]</h3>
            </div>
            <div class="panel-body">
                <order-widget status="0" num-records="5"></order-widget>
            </div>
        </div>
    </div>
    @if (User.IsInRole("admin"))
    {
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@Localizer["Đang chờ phê duyệt"]</h3>
            </div>
            <div class="panel-body">
                <review-widget status="1" num-records="5"></review-widget>
            </div>
        </div>
    </div>
    }
</div>
@if (User.IsInRole("admin"))
{
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@Localizer["Câu trả lời đang chờ xem xét"]</h3>
            </div>
            <div class="panel-body">
                <review-reply-widget status="1" num-records="5"></review-reply-widget>
            </div>
        </div>
    </div>
</div>
}
@if (User.IsInRole("admin"))
{
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@Localizer["Từ khóa được tìm kiếm nhiều nhất"]</h3>
            </div>
            <div class="panel-body">
                <most-search-keyword></most-search-keyword>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@Localizer["Sản phẩm được xem nhiều nhất"]</h3>
            </div>
            <div class="panel-body">
                <most-viewed-products></most-viewed-products>
            </div>
        </div>
    </div>
</div>
}
