﻿@model ChangePasswordViewModel
@{
    ViewData["Title"] = Localizer["Đổi mật khẩu"];
}
<div class="row">
    <div class="col-md-3">
        <partial name="_AccountMenu" />
    </div>
    <div class="col-md-9">
        <form asp-area="Core" asp-controller="Manage" asp-action="ChangePassword" method="post">
            <h2>@Localizer["Thay đổi biểu mẫu mật khẩu"]</h2>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="OldPassword" class="col-md-4 col-form-label"></label>
                <div class="col-md-6">
                    <input asp-for="OldPassword" class="form-control" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="NewPassword" class="col-md-4 col-form-label"></label>
                <div class="col-md-6">
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ConfirmPassword" class="col-md-4 col-form-label"></label>
                <div class="col-md-6">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-md-4 col-md-6">
                    <button type="submit" class="btn btn-primary">@Localizer["Change password"]</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
}
