﻿@model IndexViewModel
@{
    ViewData["Title"] = Localizer["Manage your account"];
}
@if (ViewData["StatusMessage"] != null)
{
    <p class="text-success">@ViewData["StatusMessage"]</p>
}
<div class="row">
    <div class="col-md-3">
        <partial name="_AccountMenu" />
    </div>
    <div class="col-md-9">
        <h2>@Localizer["Trang tổng quan tài khoản"]</h2>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">@Localizer["Thông tin tài khoản"]</div>
                    <div class="card-body">
                        @Model.FullName <br/>
                        @Model.Email
                        <p class="text-right">
                            <a href="~/user/info">@Localizer["Sửa"]</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">@Localizer["Bảo mật"]</div>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-md-5">@Localizer["Mật khẩu"]:</dt>
                            <dd class="col-md-7">
                                @if (Model.HasPassword)
                                {
                                    <a asp-area="Core" asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">@Localizer["Thay đổi"]</a>
                                }
                                else
                                {
                                    <a asp-area="Core" asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">@Localizer["Thêm"]</a>
                                }
                            </dd>
                            <dt class="col-md-5">@Localizer["Đăng nhập bên ngoài"]:</dt>
                            <dd class="col-md-7">
                                @Model.Logins.Count <a asp-area="Core" asp-controller="Manage" asp-action="ManageLogins" class="btn-bracketed">@Localizer["Quản lý"]</a>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">@Localizer["Địa chỉ giao hàng mặc định"]</div>
                    <div class="card-body">
                        <vc:default-shipping-address></vc:default-shipping-address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

