﻿@model SetPasswordViewModel
@{
    ViewData["Title"] = Localizer["Đặt mật khẩu"];
}

<div class="row">
    <div class="col-md-3">
        <partial name="_AccountMenu" />
    </div>
    <div class="col-md-9">
        <p class="text-info">
            @Localizer["Bạn không có tên người dùng / mật khẩu cục bộ cho trang web này.Thêm tài khoản cục bộ để bạn có thể đăng nhập mà không cần đăng nhập bên ngoài."]
        </p>
        <form asp-area="Core" asp-controller="Manage" asp-action="SetPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <h2>@Localizer["Đặt mật khẩu"]</h2>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="NewPassword" class="col-md-3 col-form-label"></label>
                <div class="col-md-9">
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ConfirmPassword" class="col-md-3 col-form-label"></label>
                <div class="col-md-9">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-md-3 col-md-9">
                    <button type="submit" class="btn btn-primary">@Localizer["Đặt mật khẩu"]</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
}
