﻿<div class="page-header">
    <div class="row">
        <div class="col-md-8">
            <h2>News Item List</h2>
        </div>
        <div class="col-md-4 text-right">
            <a ui-sref="news-items-create" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create News Item</a>
        </div>
    </div>
</div>

<table class="table table-striped" st-pipe="vm.getNewsItems" st-table="vm.newsItems">
    <thead>
        <tr>
            <th st-sort="Name" class="sortable">{{ ::vm.translate.get('Tên')}}</th>
            <th>Url</th>
            <th class="text-center">{{::vm.translate.get('Được công bố')}}</th>
            <th st-sort="CreatedOn" class="sortable">{{ ::vm.translate.get('CreatedOn')}}</th>
            <th>Actions</th>
        </tr>
        <tr>
            <th>
                <div class="form-group">
                    <input class="form-control" st-search="Name" />
                </div>
            </th>
            <th></th>
            <th></th>
            <th><st-date-range predicate="CreatedOn" before="query.before" after="query.after"></st-date-range></th>
            <th></th>
        </tr>
        <tr>
            <th ng-show="!vm.isLoading" colspan="5">{{vm.tableStateRef.pagination.totalItemCount | number:0}} {{::vm.translate.get('dữ liệu được tìm thấy')}}</th>
        </tr>
    </thead>
    <tbody ng-show="!vm.isLoading">
        <tr ng-repeat="newsItem in vm.newsItems">
            <td>{{newsItem.name}}</td>
            <td>{{newsItem.slug}}</td>
            <td class="text-center"><i ng-attr-class="{{newsItem.isPublished && 'fa fa-circle' || 'fa fa-circle-o'}}"></i></td>
            <td>{{newsItem.createdOn | date:'medium'}}</td>
            <td>
                <a ui-sref="news-items-edit({id: newsItem.id})" title="Edit" class="btn btn-primary btn-xs"> <span class="glyphicon glyphicon-pencil"></span></a>
                <button ng-click="vm.deleteNewsItem(newsItem)" class="btn btn-danger btn-xs delete"> <span class="glyphicon glyphicon-remove"></span></button>
            </td>
        </tr>
    </tbody>
    <tbody ng-show="vm.isLoading">
        <tr>
            <td colspan="5" class="text-center">Đang tải ... </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="text-center" st-pagination="" st-items-by-page="50" st-displayed-pages="10" colspan="5"></td>
        </tr>
    </tfoot>
</table>
