﻿<div class="page-header">
    <div class="row">
        <div class="col-md-8">
            <h2>{{::vm.translate.get('Reviews')}}</h2>
        </div>
        <div class="col-md-4 text-right">
        </div>
    </div>
</div>

<table class="table table-striped" st-pipe="vm.getReviews" st-table="vm.reviews">
    <thead>
        <tr>
            <th>{{::vm.translate.get('Khách hàng')}}</th>
            <th>{{::vm.translate.get('Tên thực thể')}}</th>
            <th>{{::vm.translate.get('Xếp hạng')}}</th>
            <th>{{::vm.translate.get('Tiêu đề')}}</th>
            <th>{{::vm.translate.get('Bình luận')}}</th>
            <th st-sort="CreatedOn" class="sortable">{{::vm.translate.get('Ngày tạo')}}</th>
            <th>{{::vm.translate.get('Status')}}</th>
            <th>{{::vm.translate.get('Hành động')}}</th>
        </tr>
        <tr>
            <th></th>
            <th><input class="form-control" st-search="EntityName" /></th>
            <th></th>
            <th></th>
            <th></th>
            <th><st-date-range predicate="CreatedOn" before="query.before" after="query.after"></st-date-range></th>
            <th>
                <div class="form-group">
                    <select class="form-control" st-search="Status">
                        <option value="">{{:: vm.translate.get ('Tất cả')}}</option>
                        <option value="1">{{::vm.translate.get('Pending')}}</option>
                        <option value="5">{{::vm.translate.get('Approved')}}</option>
                        <option value="8">{{::vm.translate.get('Not Approved')}}</option>
                    </select>
                </div>
            </th>
            <th></th>
        </tr>
        <tr>
            <th ng-show="!vm.isLoading" colspan="8">{{vm.tableStateRef.pagination.totalItemCount | number:0}} {{::vm.translate.get('dữ liệu được tìm thấy')}}</th>
        </tr>
    </thead>
    <tbody ng-show="!vm.isLoading">
        <tr ng-repeat="review in vm.reviews">
            <td>{{review.reviewerName}}</td>
            <td><a href="/{{review.entitySlug}}">{{review.entityName}}</a></td>
            <td>{{review.rating}}</td>
            <td>{{review.title}}</td>
            <td>{{review.comment}}</td>
            <td>{{review.createdOn | date:'medium'}}</td>
            <td>{{review.status }}</td>
            <td><button ng-if="review.status ==='Pending'" title="Approve" ng-click="vm.approve(review)" class="btn btn-primary btn-xs">{{::vm.translate.get('Tán thành')}}</button></td>
        </tr>
    </tbody>
    <tbody ng-show="vm.isLoading">
        <tr>
            <td colspan="8" class="text-center">Đang tải ... </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="text-center" st-pagination="" st-items-by-page="50" st-displayed-pages="10" colspan="8"></td>
        </tr>
    </tfoot>
</table>	
