﻿<div class="page-header">
    <div class="row">
        <div class="col-md-8">
            <h2>{{::vm.translate.get('Review Replies')}}</h2>
        </div>
        <div class="col-md-4 text-right">
        </div>
    </div>
</div>
<table class="table table-striped" st-pipe="vm.getReplies" st-table="vm.replies">
    <thead>
        <tr>
            <th>{{::vm.translate.get('Khách hàng')}}</th>
            <th>{{::vm.translate.get('Tên thực thể')}}</th>
            <th>{{::vm.translate.get('Tiêu đề đánh giá')}}</th>
            <th>{{::vm.translate.get('Bình luận')}}</th>
            <th st-sort="CreatedOn" class="sortable">{{::vm.translate.get('Ngày tạo')}}</th>
            <th>{{::vm.translate.get('Trạng thái')}}</th>
            <th>{{::vm.translate.get('Hành động')}}</th>
        </tr>
        <tr>
            <th></th>
            <th><input class="form-control" st-search="EntityName" /></th>
            <th></th>
            <th></th>
            <th><st-date-range predicate="CreatedOn" before="query.before" after="query.after"></st-date-range></th>
            <th>
                <div class="form-group">
                    <select class="form-control" st-search="Status">
                        <option value="">{{:: vm.translate.get ('Tất cả')}}</option>
                        <option value="1">{{::vm.translate.get('Đang xử lý')}}</option>
                        <option value="5">{{::vm.translate.get('Tán thành')}}</option>
                        <option value="8">{{::vm.translate.get('Không tán thành')}}</option>
                    </select>
                </div>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody ng-show="!vm.isLoading">
        <tr ng-repeat="reply in vm.replies">
            <td>{{reply.replierName}}</td>
            <td><a href="/{{reply.entitySlug}}">{{reply.entityName}}</a></td>
            <td>{{reply.reviewTitle}}</td>
            <td>{{reply.comment}}</td>
            <td>{{reply.createdOn | date:'medium'}}</td>
            <td>{{reply.status }}</td>
            <td><button ng-if="reply.status ==='Pending'" title="Approve" ng-click="vm.approve(reply)" class="btn btn-primary btn-xs">{{::vm.translate.get('Tán thành')}}</button></td>
        </tr>
    </tbody>
    <tbody ng-show="vm.isLoading">
        <tr>
            <td colspan="8" class="text-center">Đang tải ... </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="text-center" st-pagination="" st-items-by-page="50" st-displayed-pages="10" colspan="8"></td>
        </tr>
    </tfoot>
</table>	