﻿<table class="table table-striped">
    <thead>
        <tr>
            <th>{{::vm.translate.get('Khách hàng')}}</th>
            <th>{{::vm.translate.get('Tên thực thể')}}</th>
            <th>{{::vm.translate.get('Tiêu đề đánh giá')}}</th>
            <th>{{::vm.translate.get('Bình luận')}}</th>
            <th>{{::vm.translate.get('Ngày tạo')}}</th>
            <th>{{::vm.translate.get('Trạng thái')}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="reply in vm.replies">
            <td>{{reply.replierName}}</td>
            <td><a href="/{{reply.entitySlug}}">{{reply.entityName}}</a></td>
            <td>{{reply.reviewTitle}}</td>
            <td>{{reply.comment}}</td>
            <td>{{reply.createdOn | date:'medium'}}</td>
            <td>{{reply.status }}</td>
        </tr>
    </tbody>
</table>
