﻿<table class="table table-striped">
    <thead>
        <tr>
            <th>{{::vm.translate.get('Khách hàng')}}</th>
            <th>{{::vm.translate.get('Tên thực thể')}}</th>
            <th>{{::vm.translate.get('Xếp hạng')}}</th>
            <th>{{::vm.translate.get('Tiêu đề')}}</th>
            <th>{{::vm.translate.get('Bình luận')}}</th>
            <th>{{::vm.translate.get('Ngày tạo')}}</th>
            <th>{{::vm.translate.get('Status')}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="review in vm.reviews">
            <td>{{review.reviewerName}}</td>
            <td><a href="/{{review.entitySlug}}">{{review.entityName}}</a></td>
            <td>{{review.rating}}</td>
            <td>{{review.title}}</td>
            <td>{{review.comment}}</td>
            <td>{{review.createdOn | date:'medium'}}</td>
            <td>{{review.status }}</td>
        </tr>
    </tbody>
</table>
