﻿<div class="page-header">
    <div class="row">
        <div class="col-md-8">
            <h2>{{::vm.translate.get('Cart Price Rule')}}</h2>
        </div>
        <div class="col-md-4 text-right">
            <a ui-sref="cart-rule-create" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {{::vm.translate.get('Create Cart Price Rule')}}</a>
        </div>
    </div>
</div>

<table class="table table-striped" st-pipe="vm.getCartRules" st-table="vm.cartRules">
    <thead>
        <tr>
            <th>{{::vm.translate.get('Tên')}}</th>
            <th>{{::vm.translate.get('Bắt đầu')}}</th>
            <th>{{::vm.translate.get('Kết thúc')}}</th>
            <th class="text-center">{{:: vm.translate.get ('Đang hoạt động')}}</th>
            <th>{{::vm.translate.get('Hành động')}}</th>
        </tr>
        <tr>
            <th ng-show="!vm.isLoading" colspan="5">{{vm.tableStateRef.pagination.totalItemCount | number:0}} {{::vm.translate.get('dữ liệu được tìm thấy')}}</th>
        </tr>
    </thead>
    <tbody ng-show="!vm.isLoading">
        <tr ng-repeat="rule in vm.cartRules">
            <td>{{rule.name}}</td>
            <td>{{rule.startOn | date:'medium'}}</td>
            <td>{{rule.endOn | date:'medium'}}</td>
            <td class="text-center"><i ng-attr-class="{{rule.isActive && 'fa fa-circle' || 'fa fa-circle-o'}}"></i></td>
            <td>
                <a ui-sref="cart-rule-edit({id: rule.id})" title="Edit" class="btn btn-primary btn-xs"> <span class="glyphicon glyphicon-pencil"></span></a>
                <button ng-click="vm.deleteCartRule(rule)" class="btn btn-danger btn-xs delete"> <span class="glyphicon glyphicon-remove"></span></button>
            </td>
        </tr>
    </tbody>
    <tbody ng-show="vm.isLoading">
        <tr>
            <td colspan="5" class="text-center">Đang tải ... </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="text-center" st-pagination="" st-items-by-page="50" st-displayed-pages="10" colspan="5"></td>
        </tr>
    </tfoot>
</table>
