﻿<table class="table table-striped">
    <thead>
        <tr>
            <th>{{::vm.translate.get('#')}}</th>
            <th>{{::vm.translate.get('Amount')}}</th>
            <th>{{::vm.translate.get('Fee')}}</th>
            <th>{{::vm.translate.get('Status')}}</th>
            <th>{{::vm.translate.get('Gateway Transaction Id')}}</th>
            <th>{{::vm.translate.get('Ngày tạo')}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in vm.payments">
            <td>{{item.id}}</td>
            <td>{{item.amountString}}</td>
            <td>{{item.paymentFeeString}}</td>
            <td>{{item.status}}</td>
            <td>{{item.gatewayTransactionId}}</td>
            <td>{{item.createdOn | date:'medium' }}</td>
        </tr>
    </tbody>
</table>
