﻿<div class="page-header">
    <div class="row">
        <div class="col-md-8">
            <h2>{{ ::vm.translate.get('Khu vực liên hệ')}}</h2>
        </div>
        <div class="col-md-4 text-right">
            <a ui-sref="contact-area-create" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>{{ ::vm.translate.get('Tạo khu vực liên hệ')}} </a>
        </div>
    </div>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>{{ ::vm.translate.get('Tên')}}</th>
        <th>{{ ::vm.translate.get('Hành động')}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="contactArea in vm.contactAreas">
        <td>{{contactArea.name}}</td>
        <td>
            <a ui-sref="contact-area-edit({id: contactArea.id})" title="Edit" class="btn btn-primary btn-xs"> <span class="glyphicon glyphicon-pencil"></span></a>
            <button ng-click="vm.deleteContactArea(contactArea)" class="btn btn-danger btn-xs delete"> <span class="glyphicon glyphicon-remove"></span></button>
            <a ui-sref="contact-area-translation({id: contactArea.id, culture: culture})" class="btn btn-default btn-xs btn-translate" ng-repeat="culture in vm.enableCultures">
                <span class="flag flag-{{culture.substr(culture.length - 2).toLowerCase()}}" alt="{{culture}}" title="{{culture}}"></span>
            </a>
        </td>
    </tr>
    </tbody>
</table>