﻿@{ ViewData["Title"] = Localizer["Xác nhận thư điện tử"];
                var localizedTextParts = Localizer["Cảm ơn bạn đã xác nhận email của bạn.Vui lòng <a> nhấp vào đây để đăng nhập</a>"].GetTextPartsFunction(" < a > ", " </ a > "); }

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        @localizedTextParts(0)<a asp-area="Core" asp-controller="Account" asp-action="Login">@localizedTextParts(1)</a>@localizedTextParts(2).
    </p>
</div>
