﻿@model ExternalLoginConfirmationViewModel
@{
    ViewData["Title"] = Localizer["Đăng ký"];
}

<h2>@ViewData["Title"].</h2>
<h3>
    Liên kết của bạn @ViewData["LoginProvider"] tài khoản.
</h3>

<form asp-area="Core" asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    <h4>Hình thức liên kết</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>

    <p class="text-info">
        Bạn đã xác thực thành công với <strong>@ViewData["LoginProvider"]</strong>.
        Vui lòng nhập địa chỉ email cho trang web này bên dưới và nhấp vào nút Đăng ký để hoàn tất
        đăng nhập.
    </p>
    <div class="form-group row">
        <label asp-for="Email" class="col-md-2 col-form-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="FullName" class="col-md-2 col-form-label"></label>
        <div class="col-md-10">
            <input asp-for="FullName" class="form-control" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-md-2">
            <button type="submit" class="btn btn-primary">@Localizer["Đăng ký"]</button>
        </div>
    </div>
</form>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
}
