﻿@{
    ViewData["Title"] = Localizer["Đăng nhập thất bại"];
}

<header>
    <h2>@ViewData["Title"].</h2>
    <p class="text-danger">@Localizer["Đăng nhập không thành công với dịch vụ."]</p>
</header>
