﻿@model ForgotPasswordViewModel
@{
    ViewData["Title"] = Localizer["Quên mật khẩu?"];
}

<h2>@Localizer["Quên mật khẩu?"]</h2>

<form asp-area="Core" asp-controller="Account" asp-action="ForgotPassword" method="post">
    <h4>@Localizer["Nhập email của bạn."]</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="Email" class="col-md-2 col-form-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-md-2 col-md-10">
            <button type="submit" class="btn btn-primary">@Localizer["Gửi"]</button>
        </div>
    </div>
</form>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
}
