﻿@{
    ViewData["Title"] = Localizer["Quên xác nhận mật khẩu"];
}

<h2>@Localizer["Quên xác nhận mật khẩu"]</h2>
<p>
    @Localizer["Vui lòng kiểm tra email của bạn để đặt lại mật khẩu của bạn."]
</p>
