﻿@{
    ViewData["Title"] = Localizer["Bị khóa"];
}

<header>
    <h1 class="text-danger">@Localizer["Bị khóa."]</h1>
    <p class="text-danger">@Localizer["Tài khoản này đã bị khóa, vui lòng thử lại sau."]</p>
</header>
