﻿@model LoginViewModel
@inject SignInManager<User> SignInManager
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.OpenIdConnect

@{
    ViewData["Title"] = Localizer["Đăng nhập"];
}

<h2>@Localizer["Đăng nhập"]</h2>
<div class="row">
    <div class="col-md-8">
        <section>
            <form asp-area="Core" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <h4>@Localizer["Sử dụng tài khoản cục bộ để đăng nhập."]</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group row">
                    <label asp-for="Email" class="col-md-4 col-form-label">@Localizer["Email"]</label>
                    <div class="col-md-8">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Password" class="col-md-4 col-form-label">@Localizer["Mật khẩu"]</label>
                    <div class="col-md-8">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-md-4 col-md-8">
                        <div class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Localizer["Nhớ tôi không ? "]
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-md-4 col-md-8">
                        <button type="submit" class="btn btn-primary">@Localizer["Đăng nhập"]</button>
                    </div>
                </div>
                <p>
                    <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">@Localizer["Đăng ký làm người dùng mới?"]</a>
                </p>
                <p>
                    <a asp-action="ForgotPassword">@Localizer["Quên mật khẩu?"]</a>
                </p>
            </form>
        </section>
    </div>
    <div class="col-md-4">
        <section>
            <h4>@Localizer["Sử dụng dịch vụ khác để đăng nhập."]</h4>
            <hr />
            @{
                var schemes = await SignInManager.GetExternalAuthenticationSchemesAsync();
                var loginProviders = schemes.Where(scheme => scheme.DisplayName != OpenIdConnectDefaults.AuthenticationScheme).ToList();
                if (loginProviders.Count == 0)
                {
                    <div>
                        <p>
                            Không có dịch vụ xác thực bên ngoài nào được định cấu hình. Xem <a href="https://go.microsoft.com/fwlink/?LinkID=532715">bài viết này</a>
                            để biết chi tiết về cách thiết lập ứng dụng ASP.NET này để hỗ trợ đăng nhập qua các dịch vụ bên ngoài.
                        </p>
                    </div>
                }
                else
                {
                    <form asp-area="Core" asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in loginProviders)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Đăng nhập bằng @provider.DisplayName tài khoản">@provider.Name</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
}
