﻿@model ResetPasswordViewModel
@{
    ViewData["Title"] = Localizer["Đặt lại mật khẩu"];
}

<h2>@ViewData["Title"].</h2>

<form asp-area="Core" asp-controller="Account" asp-action="ResetPassword" method="post">
    <h4>@Localizer["Đặt lại mật khẩu."]</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Code" type="hidden" />
    <div class="form-group row">
        <label asp-for="Email" class="col-md-2 col-form-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Password" class="col-md-2 col-form-label"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ConfirmPassword" class="col-md-2 col-form-label"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-md-2 col-md-10">
            <button type="submit" class="btn btn-primary">@Localizer["Đặt lại"]</button>
        </div>
    </div>
</form>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
}
