﻿@{
    ViewData["Title"] = Localizer["Đặt lại xác nhận mật khẩu"];
}

<h1>@Localizer["Đặt lại xác nhận mật khẩu"]</h1>
<p>

    Mật khẩu của bạn đã được thiết lập lại. Xin vui lòng <a asp-area="Core" asp-controller="Account" asp-action="Login">Nhấn vào đây để đăng nhập</a>.
</p>
