﻿<div class="panel panel-default">
    <div class="panel-heading">
        <h2>{{::vm.translate.get('Import Tax Rate')}}</h2>
    </div>
    <div class="panel-body">
        <form name="taxRateImportForm" class="form-horizontal">
            <div class="col-sm-offset-2 bg-danger" ng-show="vm.validationErrors">
                <ul>
                    <li ng-repeat="error in vm.validationErrors">{{error}}</li>
                </ul>
            </div>
            <div class="col-sm-offset-2">
                <p>TaxClassId(*), CountryId(*), StateOrProvinceName, ZipCode, Rate(*)</p>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{::vm.translate.get('CSV Delimiter')}}</label>
                <div class="col-sm-10">
                    <input name="csvDelimiter" ng-model="vm.taxRateImport.csvDelimiter" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="vm.taxRateImport.includeHeader">{{::vm.translate.get('Header Included')}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{::vm.translate.get('CSV File')}}</label>
                <div class="col-sm-10">
                    <input class="form-control" type="file" ngf-select ng-model="vm.taxRateImport.csvFile" name="csvFile" ngf-accept="'.csv'">
                    <span ng-show="vm.taxRateImport.csvFile">{{vm.taxRateImport.csvFile.name}}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary" ng-click="vm.save()"><span class="glyphicon glyphicon-ok"></span> {{::vm.translate.get('Lưu')}}</button>
                    <button ui-sref="tax-rates" class="btn btn-default">{{::vm.translate.get('Huỷ')}}</button>
                </div>
            </div>
        </form>
    </div>
</div>