﻿<div class="panel panel-default">
    <div class="panel-heading">
        <h2 ng-if="!vm.isEditMode">{{::vm.translate.get('Create State or Province')}}</h2>
        <h2 ng-if="vm.isEditMode">{{::vm.translate.get('Edit State or Province')}}</h2>
    </div>
    <div class="panel-body">
        <form name="stateProvinceForm" class="form-horizontal">
            <div class="col-sm-offset-2 bg-danger" ng-show="vm.validationErrors">
                <ul>
                    <li ng-repeat="error in vm.validationErrors track by $index">{{error}}</li>
                </ul>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{::vm.translate.get('Tên')}}</label>
                <div class="col-sm-10">
                    <input name="name" ng-model="vm.stateProvince.name" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{::vm.translate.get('Code')}}</label>
                <div class="col-sm-10">
                    <input name="code" ng-model="vm.stateProvince.code" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">{{::vm.translate.get('Type')}}</label>
                <div class="col-sm-10">
                    <input name="type" ng-model="vm.stateProvince.type" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary" ng-click="vm.save()"><span class="glyphicon glyphicon-ok"></span> {{::vm.translate.get('Lưu')}}</button>
                    <button ui-sref="country-states-provinces({countryId: vm.countryId})" class="btn btn-default">{{::vm.translate.get('Huỷ')}}</button>
                </div>
            </div>
        </form>
    </div>
</div>