﻿@using System.Globalization

<!doctype html>
<html lang="@CultureInfo.CurrentUICulture.Name.ToLowerInvariant()">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - Web Bán Giày</title>
    @RenderSection("additionalMeta", false)

    <link simpl-append-version="true" rel="stylesheet" type="text/css" href="~/themes/CozaStore/site.min.css" />
    <script simpl-append-version="true" src="~/lib/angular/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    @RenderSection("head", required: false)
</head>
<body>
    <!-- Header -->
    <header class="header-v4">
        <!-- Header desktop -->
        <div class="container-menu-desktop">
            <!-- Topbar -->
            <div class="top-bar">
                <div class="content-topbar flex-sb-m h-full container">
                    <div class="left-top-bar">
                        Giao hàng miễn phí
                    </div>

                    <div class="right-top-bar flex-w h-full">
                        <partial name="_SelectLanguagePartial" />
                        <a href="~/help-center" class="flex-c-m trans-04 p-lr-25">
                            Trợ giúp & Câu hỏi thường gặp
                        </a>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>

            <div class="wrap-menu-desktop">
                <nav class="limiter-menu-desktop container">

                    <!-- Logo desktop -->
                    <a href="~/" class="logo">
                        <img src="~/themes/CozaStore/images/icons/logo-01.png" alt="IMG-LOGO">
                    </a>

                    <!-- Menu desktop -->
                    <div class="menu-desktop">
                        <ul class="main-menu">
                            @await Component.InvokeAsync("CategoryMenu")
                        </ul>
                    </div>

                    <!-- Icon header -->
                    <div class="wrap-icon-header flex-w flex-r-m">
                        <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
                            <i class="zmdi zmdi-search"></i>
                        </div>

                        @await Component.InvokeAsync("CartBadge")
                    </div>
                </nav>
            </div>
        </div>
        <!-- Header Mobile -->
        <div class="wrap-header-mobile">
            <!-- Logo moblie -->
            <div class="logo-mobile">
                <a href="~/"><img src="~/themes/CozaStore/images/icons/logo-01.png" alt="IMG-LOGO"></a>
            </div>

            <!-- Icon header -->
            <div class="wrap-icon-header flex-w flex-r-m m-r-15">
                <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
                    <i class="zmdi zmdi-search"></i>
                </div>

                @await Component.InvokeAsync("CartBadge")
            </div>

            <!-- Button show menu -->
            <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </div>
        </div>
        <!-- Menu Mobile -->
        <div class="menu-mobile">
            <ul class="topbar-mobile">
                <li>
                    <div class="left-top-bar">
                        Giao hàng miễn phí
                    </div>
                </li>

                <li>
                    <div class="right-top-bar flex-w h-full">
                        <a href="#" class="flex-c-m p-lr-10 trans-04">
                            Trợ giúp & Câu hỏi thường gặp
                        </a>

                        <partial name="_LoginPartial" />
                    </div>
                </li>
            </ul>

            <ul class="main-menu-m">
                @await Component.InvokeAsync("CategoryMenu")
            </ul>
        </div>
        <!-- Modal Search -->
        @await Component.InvokeAsync("SearchForm")
    </header>

    @RenderSection("featured", false)

    <div class="container body-content clearfix">
        @RenderBody()
    </div>
    <!-- Footer -->
    <footer class="bg3 p-t-75 p-b-32 m-t-75">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        Chính sách
                    </h4>
                    <vc:menu menu-id="2"></vc:menu>
                </div>

                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        Hỗ trợ khách hàng
                    </h4>
                    <vc:menu menu-id="1"></vc:menu>
                </div>

                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        THÔNG TIN LIÊN HỆ
                    </h4>

                    <p class="stext-107 cl7 size-201">
                        <li>KINGSHOES.VN Trang Thông Tin Chính Thức.</li>
                        <li>⛪ Địa chỉ: 192/2 Nguyễn Thái Bình, Phường 12, Quận Tân Bình, Thành phố Hồ Chí Minh</li>
                        <li>Email : cskh.kingshoes.vn@gmail.com</li>
                        <li>☎️ Hotline Bán Hàng: 0909.300.746 - 0909.45.0001</li>
                        <li>☎️ Hotline CSKH: 0902.368.001</li>
                    </p>

                    <div class="p-t-27">
                        <a href="https://kingshoes.vn/" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-facebook"></i>
                        </a>

                        <a href="https://instagram.com/KingShoes.vn" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-instagram"></i>
                        </a>

                        <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-pinterest-p"></i>
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        @Localizer["BẢN TIN"]
                    </h4>

                    <form>
                        <div class="wrap-input1 w-full p-b-4">
                            <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="email@example.com">
                            <div class="focus-input1 trans-04"></div>
                        </div>

                        <div class="p-t-18">
                            <button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                                Đăng ký
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6 col-lg-3 p-b-50">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7838.684254869503!2d106.70676642475235!3d10.785086936675276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1547181657956" width="1200" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>

            <div class="p-t-40">
                <div class="flex-c-m flex-w p-b-18">
                    <a href="#" class="m-all-1">
                        <img src="~/themes/CozaStore/images/icons/icon-pay-01.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="~/themes/CozaStore/images/icons/icon-pay-02.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="~/themes/CozaStore/images/icons/icon-pay-03.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="~/themes/CozaStore/images/icons/icon-pay-04.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="~/themes/CozaStore/images/icons/icon-pay-05.png" alt="ICON-PAY">
                    </a>
                </div>
                <!--
                    You are freely remove or change this copyright notice below.
                    If you like SimplCommerce and want to help us continue to develop it then
                    you can donate us at https://opencollective.com/simplcommerce. Thanks

                    Note: this theme are not owned by SimplCommerce, You might need to keep the Colorlib link back
                -->
                <p class="stext-107 cl6 txt-center">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> | This theme is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> | Powered by <a href="#">Trí Nghĩa & Danh Sỹ</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </footer>

    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="zmdi zmdi-chevron-up"></i>
        </span>
    </div>
    <div id="shopModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <div id="productOverview" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <script>
        window.simplGlobalSetting = {};
        window.simplGlobalSetting.lang = '@CultureInfo.CurrentCulture.Name';
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script simpl-append-version="true" src="~/lib/bootstrap4/js/bootstrap.min.js"></script>
    <script simpl-append-version="true" src="~/lib/multi-dropdown-menu/js/bootstrap-4-navbar.js"></script>
    <script simpl-append-version="true" src="~/lib/matchheight/jquery.matchHeight.js"></script>
    <script simpl-append-version="true" src="~/lib/toastr/build/toastr.min.js"></script>
    <script simpl-append-version="true" src="~/lib/bootstrap-star-rating/js/star-rating.js"></script>
    @if(CultureInfo.CurrentCulture.Name != SimplCommerce.Infrastructure.GlobalConfiguration.DefaultCulture)
    {
        <script simpl-append-version="true" src="~/lib/bootstrap-star-rating/js/locales/@(CultureInfo.CurrentCulture.Name).js"></script>
    }

    <script simpl-append-version="true" src="~/themes/CozaStore/vendor/slick/slick.min.js"></script>
    <script simpl-append-version="true" src="~/themes/CozaStore/js/slick-custom.js"></script>
    <script simpl-append-version="true" src="~/themes/CozaStore/js/cozastore.js"></script>
    <script simpl-append-version="true" src="~/_content/SimplCommerce.Module.Core/main.js"></script>
    <script simpl-append-version="true" src="~/_content/SimplCommerce.Module.ShoppingCart/add-to-cart.js"></script>
    <script simpl-append-version="true" src="~/_content/SimplCommerce.Module.ProductComparison/product-comparison.js"></script>
    @RenderSection("scripts", required: false)

    <partial name="_AnalyticsScript" />
</body>
</html>
