﻿@using SimplCommerce.Module.Core.Models
@using SimplCommerce.Module.Core.Extensions

@inject IWorkContext WorkContext
@inject SignInManager<User> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <a class="flex-c-m trans-04 p-lr-25" asp-area="Core" asp-controller="Manage" asp-action="Index" title="@Localizer["Quản lý"]">@Localizer["Chào {0}!", (await WorkContext.GetCurrentUser()).FullName]</a>
    if (User.IsInRole("admin") || User.IsInRole("vendor"))
    {
       <a class="flex-c-m trans-04 p-lr-25" asp-area="Core" asp-controller="HomeAdmin" asp-action="Index">@Localizer["Bảng điều khiển"]</a>
    }
    <form asp-area="Core" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="">
        <button type="submit" class="logoff flex-c-m trans-04 p-lr-25">@Localizer["Đăng xuất"]</button>
    </form>
}
else
{
    <a class="flex-c-m trans-04 p-lr-25" asp-area="Core" asp-controller="Account" asp-action="Login">@Localizer["Đăng nhập"]</a>
    <a class="flex-c-m trans-04 p-lr-25" asp-area="Core" asp-controller="Account" asp-action="Register">@Localizer["Đăng ký"]</a>
}
